<h1>Listing issues</h1>

<table>
  <tr>
    <th>Number</th>
    <th>Created at</th>
    <th>Updated at</th>
    <th>Published at</th>
    <th>Journals</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @issues.each do |issue| %>
  <tr>
    <td><%= issue.number %></td>
    <td><%= issue.created_at %></td>
    <td><%= issue.updated_at %></td>
    <td><%= issue.published_at %></td>
    <td><%= issue.journals_id %></td>
    <td><%= link_to 'Show', issue %></td>
    <td><%= link_to 'Edit', edit_issue_path(issue) %></td>
    <td><%= link_to 'Destroy', issue, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Issue', new_issue_path %>
