<%= form_for(@page) do |f| %>
  <% if @page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@page.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul>
      <% @page.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :number %><br />
    <%= f.number_field :number %>
  </div>
  <div class="field">
    <%= f.label :pos1 %><br />
    <%= f.number_field :pos1 %>
  </div>
  <div class="field">
    <%= f.label :pos2 %><br />
    <%= f.number_field :pos2 %>
  </div>
  <div class="field">
    <%= f.label :pos3 %><br />
    <%= f.number_field :pos3 %>
  </div>
  <div class="field">
    <%= f.label :pos4 %><br />
    <%= f.number_field :pos4 %>
  </div>
  <div class="field">
    <%= f.label :pos5 %><br />
    <%= f.number_field :pos5 %>
  </div>
  <div class="field">
    <%= f.label :pos6 %><br />
    <%= f.number_field :pos6 %>
  </div>
  <div class="field">
    <%= f.label :pos7 %><br />
    <%= f.number_field :pos7 %>
  </div>
  <div class="field">
    <%= f.label :pos8 %><br />
    <%= f.number_field :pos8 %>
  </div>
  <div class="field">
    <%= f.label :pos9 %><br />
    <%= f.number_field :pos9 %>
  </div>
  <div class="field">
    <%= f.label :pos10 %><br />
    <%= f.number_field :pos10 %>
  </div>
  <div class="field">
    <%= f.label :pos11 %><br />
    <%= f.number_field :pos11 %>
  </div>
  <div class="field">
    <%= f.label :pos12 %><br />
    <%= f.number_field :pos12 %>
  </div>
  <div class="field">
    <%= f.label :pos13 %><br />
    <%= f.number_field :pos13 %>
  </div>
  <div class="field">
    <%= f.label :pos14 %><br />
    <%= f.number_field :pos14 %>
  </div>
  <div class="field">
    <%= f.label :pos15 %><br />
    <%= f.number_field :pos15 %>
  </div>
  <div class="field">
    <%= f.label :pos16 %><br />
    <%= f.number_field :pos16 %>
  </div>
  <div class="field">
    <%= f.label :issues_id %><br />
    <%= f.number_field :issues_id %>
  </div>
  <div class="field">
    <%= f.label :issues_journals_id %><br />
    <%= f.number_field :issues_journals_id %>
  </div>
  <div class="field">
    <%= f.label :templates_id %><br />
    <%= f.number_field :templates_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
