<p id="notice"><%= notice %></p>

<p>
  <b>Number:</b>
  <%= @page.number %>
</p>

<p>
  <b>Pos1:</b>
  <%= @page.pos1 %>
</p>

<p>
  <b>Pos2:</b>
  <%= @page.pos2 %>
</p>

<p>
  <b>Pos3:</b>
  <%= @page.pos3 %>
</p>

<p>
  <b>Pos4:</b>
  <%= @page.pos4 %>
</p>

<p>
  <b>Pos5:</b>
  <%= @page.pos5 %>
</p>

<p>
  <b>Pos6:</b>
  <%= @page.pos6 %>
</p>

<p>
  <b>Pos7:</b>
  <%= @page.pos7 %>
</p>

<p>
  <b>Pos8:</b>
  <%= @page.pos8 %>
</p>

<p>
  <b>Pos9:</b>
  <%= @page.pos9 %>
</p>

<p>
  <b>Pos10:</b>
  <%= @page.pos10 %>
</p>

<p>
  <b>Pos11:</b>
  <%= @page.pos11 %>
</p>

<p>
  <b>Pos12:</b>
  <%= @page.pos12 %>
</p>

<p>
  <b>Pos13:</b>
  <%= @page.pos13 %>
</p>

<p>
  <b>Pos14:</b>
  <%= @page.pos14 %>
</p>

<p>
  <b>Pos15:</b>
  <%= @page.pos15 %>
</p>

<p>
  <b>Pos16:</b>
  <%= @page.pos16 %>
</p>

<p>
  <b>Issues:</b>
  <%= @page.issues_id %>
</p>

<p>
  <b>Issues journals:</b>
  <%= @page.issues_journals_id %>
</p>

<p>
  <b>Templates:</b>
  <%= @page.templates_id %>
</p>


<%= link_to 'Edit', edit_page_path(@page) %> |
<%= link_to 'Back', pages_path %>
